<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Untitled Page{% endblock %}</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/global.css" rel='stylesheet' type='text/css'>
  {% block scripts %}{% endblock %}
  {% block css %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
</body>
</html>
